/* GLOBAL */
body {
    /* background-color: #0F1113;
     */
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(33, 33, 33, 1) 57%, rgba(71, 71, 71, 1) 96%);
    color: white;
    font-family: 'Onest Variable', sans-serif;
    width: 60%;
    max-width: 1000px;
    margin: 12rem auto 0 auto;
}

.contenedorGeneral {
    box-shadow: -5px 10px 10px #2c2c2c, 5px -5px 12px #1f1f1f83;
    padding: 2rem;
    background-color: #1F1F1F;
}

.logoSabogal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100px;
}


/* navegacion */
nav {
    position: fixed;
    z-index: 10;
    top: 1rem;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
}

nav ul {

    backdrop-filter: blur(5px);
    width: fit-content;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav li {
    font-size: 16px;
    text-transform: capitalize;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    list-style: none;
}

.muestras {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
}

.color1,
.color2,
.color3 {
    font-size: 12px;
    width: 50px;
    height: 50px;
}

.color1 {

    background-color: #D4AF37;
}

.color2 {
    background-color: #1F1F1F;
}

.color3 {
    background-color: #D1D1D1;
}

a {
    color: white;
    text-decoration: none;
}










/* seccion principal */
.principal {
    padding-bottom: 5rem;
    border-bottom: 2px solid #D4AF37;
}

.principal .imagen {
    display: flex;
    align-items: center;
}

.principal span {
    color: #D4AF37;
}

/* CONTENIDO DEL PERFIL  */
.principal h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.principal p {
    font-weight: 400;
    font-size: 1.2rem;
    color: #D1D1D1;
}

.principal a span {
    color: white;
}

/* IMAGEN Y LINK */
.imagen img {
    width: 100px;
    border-radius: 50%;
    border: 10px solid #1F1F1F;
}

.imagen a {
    color: white;
    text-decoration: none;
    border: 1px solid #D4AF37;
    border-radius: 25px;
    padding: 0.2rem 0.7rem;
    max-height: fit-content;
    margin: 2rem;
}

.botonesCaja {
    display: flex;
    gap: 1rem;
}

.boton {
    display: flex;
    border: 2px solid #D4AF37;
    width: fit-content;
    padding: 0.2rem 1rem;
    border-radius: 25px;
    background-color: #fafafa20;
    transition: all 150ms ease-in-out;
}

.boton a {
    margin-left: .5rem;
    text-decoration: none;
    color: white;
}

.boton:hover {
    transform: scale(1.1);
}





.skills {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid #D4AF37;
}

.skills span {
    color: #D4AF37;
}

.skills div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
}



.creditos {
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: .5rem;
}

/* chatbot */
.chatBot {
    width: 250px;
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem .5rem;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatArea {
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
}

.chatArea p {
    background-color: #2F55A1;
    ;
    font-size: 13px;
    padding: .2rem .5rem;
    border-radius: 5px;
    margin: 1rem;
}



@media (max-width: 800px) {
    body {
        width: 95%;
    }

    /* .skills {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        border-bottom: 2px solid #D4AF37;
    }

    .skills span {
        color: #D4AF37;
    } */

    .skills div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 2rem;
    }

    nav {
        width: 100%;
    }
}