/* seccion */
.proyectos {
    padding-top: 5rem;
}

/* titulo */
h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* tarjetas */
.card {
    background: rgb(212, 175, 55);
    background: linear-gradient(45deg, rgba(212, 175, 55, 0.3477766106442577) 0%, rgba(33, 33, 33, 1) 31%, rgba(51, 47, 35, 1) 78%, rgba(212, 175, 55, 0.16290266106442575) 100%);


    /* border: 1px solid #D4AF37; */
    box-shadow: -5px 10px 10px #2c2c2c, 5px -5px 12px #00000083;
    color: #D1D1D1;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.card h2{
    color: white;
}

.card a {
    border: 2px solid #D4AF37;
    padding: 0.1rem 1rem;
    border-radius: 10px;
    color: white;
}

.card img {
    border-radius: 20px;
    margin-right: 2rem;
    max-height: 300px;
    object-fit: cover;
    width: 300px;
}


@media (max-width: 800px) {
    .card img {
        width: 100%;
        margin: 0;
        max-height: none;
    }

    .card {
        text-align: center;
        flex-direction: column;
    }
}