/* seccion */
.proyectos {
    padding: 5rem 0 0;
    margin-bottom: 5rem ;
    border-bottom: 2px solid #D4AF37;
}
.card:last-child{
    margin: 2rem;
}

/* titulo */
h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* tarjetas */
.card {
    color: #D1D1D1;
    display: flex;
    /* align-items: center; */
    margin: 0 0 8rem 0;
    justify-content: center;
}

.cardDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card p{
    margin: .2rem;
}
.card h2 {
    color: white;
    margin: 0;
}   
.card img {
    border-radius: 20px;
    margin-right: 2rem;
    /* max-height: 300px; */
    width: 50%;
    object-fit: cover;
}


@media (max-width: 800px) {
    .proyectos {
        padding: 4rem 0 0;
    }

    .card img {
        width: 100%;
        margin: 0;
        max-height: none;
    }
    .card h2{
        
        color: #D4AF37;
    }
    .cardDiv{
        width: 100%;
        text-align: left;
    }

    .card {
        text-align: center;
        flex-direction: column;
    }
}