nav{
    position: fixed;
    z-index: 10;
    top: 1rem;
    text-align: center;
}
nav ul{
    border-radius: 25px;
    background-color: #1b3362e5;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
nav li{
    padding: 0.3rem 1rem;
    border-radius: 10px;
    /* background-color: #1B3362; */
    list-style: none;
}